.btn{
    background-color: $primary;
    color: white;
    padding: 8px 16px;
    transition: 0.4s;
    border: 2px solid $primary;
    svg{
        transition: 0.4s;
    }

    &:hover{
        color: $primary;
        cursor: pointer;
        background-color: white;

        svg{
            color: black;
            fill: black;
        }
    }
}